@font-face {
    font-family: "Raleway";
    src: url(./static/Raleway-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url(./Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src: url(./Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}
